{% extends "auctions/layout.html" %}

{% block body %}
	<h3>Create a new listing</h3>

	<form action="{% url 'auctions:listing' %}" method="post">
		{% csrf_token %}
		<div class="form-group">
			<label for="name">Item Name</label>
			<input type="text" name="name" class="form-control">
		</div>
		<div class="form-group">
			<label for="price">Price</label>
			<input type="number" name="price" class="form-control">
		</div>
		<div class="form-group">
			<label for="description">Description</label>
			<input type="text" name="description" class="form-control">
		</div>
		<div class="form-group">
			<label for="imageurl">Item Image</label>
			<input type="text" name="imageurl" class="form-control">
		</div>
		<label for="category">Select category</label>
		<div class="form-group">
			<select name="category">
				{% for category in allCategories %}
					<option value="{{ category }}">{{ category }}</option>
				{% endfor %}
			</select>
		</div>
		<button type="submit" class="btn btn-primary">Create Listing</button>
	</form>
{% endblock %}